@import url('https://fonts.googleapis.com/css2?family=Arvo:ital,wght@0,400;0,700;1,400;1,700&family=Edu+AU+VIC+WA+NT+Arrows:wght@400..700&family=Jersey+10&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
 *{
    margin: 0%;
    padding: 0%;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", serif;
    list-style-type: none;
}
body{
        background: white;
}
.navbar {
    border: none;
    background-color: rgb(235, 246, 255);
    padding: 20px;
    border-radius: 50px; 
    margin-left: 8%;
    margin-right: 8%;
    margin-top: 3%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.logo {
    font-size: 30px;
    font-weight: bolder;
    color: brown;
}

.navlink {
    display: flex;
    justify-content: center;
    margin-bottom: 0;
}

.navlink li {
    list-style: none;
    margin-left: 10px; 
}

.navlink li a {
    font-size: 20px;
    font-weight: bold;
    padding: 5px 10px; 
    border-radius: 25px; 
    color: rgb(0, 0, 0);
    text-decoration: none; 
    display: inline-block;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.navlink li a:hover {
    background-color: #a33908; 
}